/* Page header and footer */

header:first-of-type nav details summary {
	border: solid 1px;
	padding-right: .4em;
	padding-left: .4em;
	list-style-type: none;
}

header:first-of-type nav details > summary + div  a {
	text-decoration: none;
}
