/* Page header and footer layout */

header:first-of-type nav details summary {
	border: solid 2px;
	border-radius: 8px;
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: .4em;
	padding-right: .4em;
	width: max-content;
}

header:first-of-type nav > div {
	border: none;
	border-radius: 8px;
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: .4em;
	padding-right: .4em;
	width: max-content;
}

header:first-of-type > details:first-of-type[open] + nav details summary {
	margin-bottom: .6em;
	margin-top: .6em;
}

header:first-of-type > details:first-of-type[open] + nav > details[open] > summary + div > span {
	display: list-item;
	list-style-type: none;
}

header:first-of-type > details:first-of-type[open] + nav > details[open] > summary + div {
	display: inline-block;
	margin-top: 1em;
	vertical-align: middle;
}

@media screen and (width >= 700px) and (resolution < 2dppx), screen and (width >= 1200px) and (resolution >= 2dppx) {
	header:first-of-type > nav details {
		align-self: center;
		margin-left: auto;
	}

	header:first-of-type > nav details[open] > div {
		border-right: solid 2px;
		display: inline;
		flex-flow: row nowrap;
		margin-left: 0;
		padding-right: .8em;
	}

	header:first-of-type > nav details[open] span {
		display: inline-block;
	}

	header:first-of-type > nav details[open] span a {
		display: block;
		height: 100%;
		padding-right: .4em;
		width: 100%;
	}

	header:first-of-type > nav details[open] span + span {
		border-left: solid 2px;
		padding-right: .6em;
	}

	header:first-of-type > nav details[open] {
		display: block;
		text-align: right;
		width: 100%;
	}

	header:first-of-type > nav details summary {
		margin-right: 1em;
	}

	header:first-of-type > nav details[open] summary {
		display: inline;
	}
}
